<!DOCTYPE html>
<html>

<head>
    <title>3C Programming Test- Problem 1</title>
		
		<link rel="stylesheet" href="css/bootstrap.min.css"> 
		
		<script src="js/shared/angular.min.js"></script>
</head>

<body ng-app="thirdChannel" ng-controller="mainController">
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2">

			<div class="page-header"><h2>Please submit your information!</h2></div>

			<form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>

    	<div class="form-group" ng-class="{ 'has-error' : userForm.first_name.$invalid && submitted}">
				<label>First Name:</label>
				<input type="text" name="first_name" class="form-control" id="firstName" value="" ng-model="firstName" ng-pattern="namePattern" placeholder="Enter Your First Name..." required>
				<p ng-show="userForm.first_name.$invalid && submitted" class="help-block">First name required (no numbers allowed)</p>
			</div>
				
			<div class="form-group" ng-class="{ 'has-error' : userForm.last_name.$invalid && submitted }">
				<label>Last Name:</label>
				<input type="text" name="last_name" class="form-control" id="lastName" value="" ng-model="lastName" ng-pattern="namePattern" placeholder="Enter Your Last Name..." required>
				<p ng-show="userForm.last_name.$invalid && submitted" class="help-block">Last name required (no numbers allowed)</p>
			</div>
			
			<div class="form-group" ng-class="{ 'has-error' : userForm.phone.$invalid && submitted }">	
				<label>Phone:</label>
				<input type="text" name="phone" class="form-control" id="phone" value="" ng-model="phone" ng-pattern="phonePattern" placeholder="Phone Number... (ex: 111-222-3333)" required>
				<p ng-show="userForm.phone.$invalid && submitted" class="help-block">Enter a properly formatted phone number (ex: 111-222-3333)</p>
			</div>
			
			<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && submitted }">	
				<label>Email:</label>
				<input type="email" name="email" class="form-control" id="email" value="" ng-model="email" placeholder="Email address..." required>
				<p ng-show="userForm.email.$invalid && submitted" class="help-block">Enter a valid email</p>
			</div>
			
			<div class="form-group">	
				<label>Street 1:</label>
				<input type="text" name="street_1" class="form-control" id="street1" value="" ng-model="street1" placeholder="Street 1...">
			</div>
			
			<div class="form-group">
				<label>Street 2:</label>
				<input type="text" name="street_2" class="form-control" id="street2" value="" ng-model="street2" placeholder="Street 2...">
			</div>
			
			<div class="form-group" ng-class="{ 'has-error' : userForm.city.$invalid && submitted }">
				<label>City:</label>
				<input type="text" name="city" class="form-control" id="city" value="" ng-model="city" placeholder="City..." required>
				<p ng-show="userForm.city.$invalid && submitted" class="help-block">City required.</p>
			</div>
			
			<div class="form-group" ng-class="{ 'has-error' : userForm.state.$invalid && submitted }">
				<label>State:</label>
				<select name="state" class="form-control" id="state" ng-model="state" ng-options="state.stateValue as state.stateName for state in states" required>
				<option value="">Select a state</option>
				</select>
				<p ng-show="userForm.state.$invalid && submitted" class="help-block">Enter a valid state.</p>
			</div>
			
			<div class="form-group" ng-class="{ 'has-error' : userForm.zip.$invalid && submitted }">	
				<label>Zip:</label>
				<input type="text" name="zip" class="form-control" id="zip" value="" ng-model="zip" placeholder="Zip..." ng-pattern="zipPattern" required>
				<p ng-show="userForm.zip.$invalid && submitted" class="help-block">Enter a valid zip.</p>
			</div>


    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>

</form>

		<!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>

</body>
</html>